@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    src: local('Gilroy-Light'), url('./fonts/Gilroy-Light.otf') format('opentype');
   /* src: local('Gilroy-Bold'), url(./../fonts/Gilroy-Bold.otf) format('otf');*/
}

@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    src: local('Gilroy-ExtraBold'), url('./fonts/Gilroy-ExtraBold.otf') format('opentype');
   /* src: local('Gilroy-Bold'), url(./../fonts/Gilroy-Bold.otf) format('otf');*/
}

* {
    font-family: 'Gilroy-light', 'Gilroy', 'Arial', monospace;
    color: #2C2738;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out;
    list-style: none;
    text-decoration: none;
    
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body .MuiOutlinedInput-notchedOutline {
    border-color: #00ffff00;
}

body .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-top: 0;
    padding-bottom: 0;
}

body .MuiInputLabel-outlined {
    top: -.5em;
    padding-left: 1.9em;
    font-size: 14px;
    font-family: 'Gilroy-light', 'Gilroy', 'Arial', monospace
}